@charset "utf-8";
/* CSS Document */


@import url('https://rsms.me/inter/inter.css');

body {
	font-family: 'Inter', sans-serif !important;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: 'Inter var', sans-serif !important;
	}
}


::-webkit-scrollbar {
	display: none;
}



/*Colors */

:root {

	/*#region Color dark 3 */

	--Background: rgb(243 243 243);

	--Block: #89d1cd;

	--BlockText: rgb(0, 18, 44);

	--TextColor: rgb(0, 18, 44);

	--TextRemark: black;

	--TextGeneric: #151C1A;

	/*--HoverColor:rgb(255, 238, 4); /* color de hover en las lists */

	--HoverColor: rgb(201 235 255);

	--HighLight: #3EDFCF;
	/* color para important texts */

	--ControlBackground: #F6F9F9;

	--ControlText: rgb(255, 255, 255);

	--ControlAltText: rgb(0, 0, 0);

	--ControlAccent: rgb(110 182 193);
	/*#endregion */

	--ButtonBorder: #3EDFCF;
	--InputBorder : #3EDFCF;

}


body {
	/*font-family:segoe Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";*/

	width           : 480px;
	height          : 600px;
	margin          : 0px;
	overflow        : hidden;
	padding         : 0px;
	border-style    : none;
	border-width    : 1px;
	background-color: var(--Background);
	color           : var(--TextColor);
}